<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crazy Eights | Game <%= gameId %></title>
    <%- include('shared/head') %>
</head>
<body data-user-id="<%= user.id %>">
    <div id="container">
        <%- include('shared/menu') %>
        <script src="/js/games/index.js" defer></script>
        <h1>
            <img
                src="https://gravatar.com/avatar/ <%= user.gravatar%>?s=30&d=identicon"
                alt="Gravatar"
                class="gravatar"
            />
            Welcome <%= user.email %> (<%= user.id %>)
        </h1>
        <div id="game-area">
            <section id="game-section">
                <div class="text-center">
                    <p id="game-id-display"><%= gameId %></p>
                    <% if(isHost) { %>
                    <button id="start-game-button">Start Game</button>
                    <% } %>
                    <button id="announce-presence-button">Announce My Presence</button>
                    <div id="opponent-card-counts">
                    </div>
                    <div id="discard-pile">
                        </div>
                    <button id="show-hand-button">Refresh Screen</button>
                    <button id="draw-card-button">DRAW CARD</button>
                    <div id="player-hand-container">
                        <h2 id="player-hand-title">Your Hand</h2>
                        <div id="player-hand">
                            </div>
                    </div>
                </div>
            </section>
            <section id="player-info">
                
                <section id="chat-container">
                    <div id="messages"></div>
                    <form>
                        <input type="text" name="message" id="message"/>
                        <button type="submit" id="send-button">Send</button>
                    </form>
                </section>
                <% if(isHost) { %>
                    <form>
                        <input type="text" name="resetConfirm" id="resetConfirm" placeholder="Type 'reset' to reset game"/>
                        <button id="reset-game-button">Reset Game</button>
                    </form>
                
                    <form>
                        <input type="text" name="deleteConfirm" id="deleteConfirm" placeholder="Type 'delete' to end game"/>
                        <button id="delete-game-button">Delete Game</button>
                    </form>
                <% } %>
                <% if(!isHost) { %>
                    <form>
                        <input type="text" name="leaveConfirm" id="leaveConfirm" placeholder="Type 'leave' to leave game"/>
                        <button id="leave-game-button">Leave Game</button>
                    </form>
                <% } %>
            </section>
        </div>
    </div>
    <%- include("games/create-form") %>
    <%- include("shared/templates") %>
</body>
</html>