<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crazy Eights | Game <%= gameId %></title>
    <%- include('shared/head') %>
    <style>
        .card {
            display: inline-block;
            border: 1px solid black;
            padding: 5px;
            margin: 2px;
            border-radius: 5px;
            min-width: 30px;
            text-align: center;
        }
        .card.hearts, .card.diamonds {
            color: red;
        }
        .card.spades, .card.clubs {
            color: black;
        }
    </style>
</head>
<body data-user-id="<%= user.id %>">
    <div id="container">
        <%- include('shared/menu') %>
        <script src="/js/games/index.js" defer></script>
        <h1>
            <img
                src="https://gravatar.com/avatar/ <%= user.gravatar%>?s=30&d=identicon"
                alt="Gravatar"
                class="gravatar"
            />
            Welcome <%= user.email %> (<%= user.id %>)
        </h1>
        <div id="game-area">
            <section id="game-section">
                <div class="text-center">
                    <% if(isHost) { %>
                    <button id="start-game-button">Start Game</button>
                    <% } %>
                    <p id="game-id-display"><%= gameId %></p>
                    <button id="show-hand-button">Show Hand</button>
                    <button id="announce-presence-button">Announce My Presence</button>
                </div>
            </section>
            <section id="player-info">
                <div id="opponent-card-counts">
                    </div>
                <div id="player-hand-container" style="display:none;">
                    <h2 id="player-hand-title">Your Hand</h2>
                    <div id="player-hand">
                        </div>
                </div>
                <section id="chat-container">
                    <div id="messages"></div>
                    <form>
                        <input type="text" name="message" id="message"/>
                        <button type="submit" id="send-button">Send</button>
                    </form>
                </section>
            </section>
        </div>
    </div>
    <%- include("games/create-form") %>
    <%- include("shared/templates") %>
</body>
</html>