<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crazy Eights | Lobby</title>
    <%- include('shared/head') %>
</head>
<body>
    <div id="container">
        <%- include('shared/menu') %>
        <script src="\js\lobby\index.js" defer></script>
        <h1>
            <img
                src="https://gravatar.com/avatar/ <%= user.gravatar%>?s=30&d=identicon"
                alt="Gravatar"
                class="gravatar"
            />
            Welcome <%= user.email %> (<%= user.id %>)
        </h1>
        <div id="content">
            <div class="text-center">
                <button id="start-game">Start Game</button>
                <p class="text-4xl font-bold text-blue-600"><%= gameId %></p>
            </div>
            
            <section id="chat-container">
                <div id="messages"></div>
                <form>
                    <input type="text" name="message" id="message"/>
                    <button type="submit" id="send-button">Send</button>
                </form>
            </section>
        </div>
    </div>
    <%- include("games/create-form") %>
    <%- include("shared/templates") %>
</body>
</html>
