<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Crazy Eights | Lobby</title>
        <%- include('shared/head') %>
    </head>
    <body>
        <div id="container">
            <%- include('shared/menu') %>
            <script src="\js\lobby\index.js" defer></script>
            <h1>
                <img 
                    src="https://gravatar.com/avatar/ <%= user.gravatar%>?s=30&d=identicon" 
                    alt="Gravatar"
                    class="gravatar"
                />
                Welcome <%= user.email %> (<%= user.id %>) </h1> 
                <div id="content">
                    
                    <section id="game-listing">
                        <button id="create-game-button">Create Game</button>
                    </section>

                    <section id="chat-container">
                        <div id="messages"></div>
                        <form>
                            <input type="text" name="message" id="message"/>
                            <button type="submit" id="send-button">Send</button>
                        </form>
                    </section>
                </div>
            <% /* %>
            <ul>
                <li>id: <%= user.id %></li>
                <li>gravatar: <%= user.gravatar %></li>
                
            </ul>
            <% */ %>
            <% /* %>
            <a href=""#" id="test-socket-link">Test Socket</a>
            <script>
                document.querySelector("#test-socket-link").addEventListener("click", e => {
                    e.preventDefault();
                    console.log("Socket test link clicked");
                    fetch("/test/socket-test", {
                    method: "post",
                    credentials: "include",
                    }).then(() => {
                        console.log("Socket test request sent");
                    }).catch((error) => {
                        console.error("Error sending socket test request:", error);
                    });
                })
            </script>
            <% */ %>
        </div>
        <%- include("games/create-form") %>
        <%- include("shared/templates") %>
    </body>
</html>