<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Crazy Eights | Lobby</title>
        <%- include('shared/head') %>
    </head>
    <body>
        <div id="container">
            <%- include('shared/menu') %>
            <script src="\js\lobby\index.js" defer></script>
            <h1>
                <img 
                    src="https://gravatar.com/avatar/ <%= user.gravatar%>?s=30&d=identicon" 
                    alt="Gravatar"
                    class="gravatar"
                />
                Welcome <%= user.email %> (<%= user.id %>)
            </h1> 
                <div id="content">
                    
                    <section id="game-listing">
                        <button id="create-game-button">Create Game</button>
                        <ul id="available-games">
                            <li>
                                <span class="status waiting">status</span>
                                <span class="game-name">Game Name</span>
                                <span class="game-players">Players</span>
                                <a href="/games/42" class="button" target="_blank">Join</a>
                            </li>
                        </ul>
                    </section>
                    
                    <section id="chat-container">
                        <div id="messages"></div>
                        <form>
                            <input type="text" name="message" id="message"/>
                            <button type="submit" id="send-button">Send</button>
                        </form>
                    </section>
                </div> 
        </div>
        <%- include("games/create-form") %>
        <%- include("shared/templates") %>
    </body>
</html>