<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Crazy Eights | Lobby</title>
        <%- include('shared/head') %>
    </head>
    <body>
        <div id="container">
            <%- include('shared/menu') %>
            <script src="\js\lobby\index.js" defer></script>
            <h1>
                <img 
                    src="https://gravatar.com/avatar/ <%= user.gravatar%>?s=30&d=identicon" 
                    alt="Gravatar"
                    class="gravatar"
                />
                Welcome <%= user.email %> (<%= user.id %>)
            </h1> 
                <div id="content">
                    
                    <section id="game-listing">
                        <button id="create-game-button">Create Game</button>
                        
                        
                        <ul id="available-games">
                            <li>
                                <form form method="post" action="/games/join/<%= roomId %>">
                                    <div class="mb-3">
                                        <label for="roomId" class="form-label">Room ID:</label>
                                        <input type="text" class="form-control" id="roomId" name="roomId" placeholder="Enter Room ID" />
                                    </div>
                                    <div class="mb-3">
                                        <label for="password" class="form-label">Password (optional):</label>
                                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" />
                                    </div>
                                    <button type="submit">Join</button>
                                </form>
                            </li>
                            <% /*
                            <li>
                                <span class="status waiting">status</span>
                                <span class="game-name">Game 1</span>
                                <span class="game-players">Players</span>
                                <form method="post" action="/games/join/1">
                                        <input type="text" name="password" placeholder="Optional Password">
                                    <button type="submit">Join</button>
                                </form>
                            </li>
                            <li>
                                <span class="status waiting">status</span>
                                <span class="game-name">Game 2</span>
                                <span class="game-players">Players</span>
                                <form method="post" action="/games/join/2 ">
                                        <input type="text" name="password" placeholder="Optional Password">
                                    <button type="submit">Join</button>
                                </form>
                            </li>
                            <li>
                                <span class="status waiting">status</span>
                                <span class="game-name">Game 16</span>
                                <span class="game-players">Players</span>
                                <form method="post" action="/games/join/16 ">
                                        <input type="text" name="password" placeholder="Optional Password">
                                    <button type="submit">Join</button>
                                </form>
                            </li>
                            */ %>
                        </ul>
                    </section>
                    
                    <section id="chat-container">
                        <div id="messages"></div>
                        <form>
                            <input type="text" name="message" id="message"/>
                            <button type="submit" id="send-button">Send</button>
                        </form>
                    </section>
                </div> 
        </div>
        <%- include("games/create-form") %>
        <%- include("shared/templates") %>
    </body>
</html>